GEMINI_API_KEY=your-gemini-api-key
DATABASE_URL=postgresql+psycopg2://postgres:mediflow_senha_123@localhost:5432/mediflow_db
N8N_WEBHOOK_URL=http://localhost:5678/webhook-test/056b378f-7a6d-4225-98c1-99cbb8c0928c
